body {
	font-family: Arial, "MS Trebuchet", sans-serif;	
	font-size: 15px;
}

table {
	font-size: 15px;
	border-width: 0;
	border-spacing: 0;
}

@-moz-document url-prefix() {
    body table {
       border-collapse: separate;
    }
}

tbody{
	position: relative;
}

#jqTableContainer {
	border: 1px solid #dadada;
	border-top-style: none;
}

/*table thead td, table thead th {
	padding: 10px 40px 10px 40px;
	color: #4f4f4f;
	border: 1px solid #D8D8D8;
	height: 37px;
	cursor: default;
	width: 100px;
}*/

table thead td div, table thead th div{
	padding: 0px 0px 0px 0px;
	color: #4066A3;
	/*border: 1px solid #D8D8D8;*/
	line-height: 33px;
	text-align: center;
	cursor: default;
	width: 180px;
}
/********************/

tbody td div, tbody th div{
    border: 1px solid #D8D8D8;
    color: #4F4F4F;
    cursor: default;
    line-height: 37px;
    padding: 0 0;
    text-align: center;
    width: 180px;
    border-right-style: none;
    border-top-style: none;
}

tbody th div {
	width: 100%;
	padding: 0 0;
}
/**************/

thead th{
  background-color: #f6f6f6;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#e8e8e8)); 
  background-image: -webkit-linear-gradient(top, #f6f6f6, #e8e8e8); 
  background-image:    -moz-linear-gradient(top, #f6f6f6, #e8e8e8); 
  background-image:     -ms-linear-gradient(top, #f6f6f6, #e8e8e8); 
  background-image:      -o-linear-gradient(top, #f6f6f6, #e8e8e8); 
  background-image:         linear-gradient(to bottom, #f6f6f6, #e8e8e8);
}

table thead tr th.total-cell{
	width: 140px;
	/*padding-left:15px;
	padding-right: 15px;*/
}

table tbody tr td.total-cell{
	width: 90px;
	color: #1e4188;
	text-align: center;
	font-weight: bold;
}

table thead tr th.total-cell em{
	font-weight:bold;
}

thead tr.column-title{
	background-color: white;
	background-image: none;
	border-style: none;
}

thead tr.column-title th {
	border: 1px solid #d9d9d9;
	border-right-style: none;
}	

thead tr th {
	font-weight: bold;
	color: #4066a3;

  	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 80%, #eaeaea 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(80%,#ffffff), color-stop(100%,#eaeaea)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 80%,#eaeaea 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 80%,#eaeaea 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 80%,#eaeaea 100%); /* IE10+ */
	background: linear-gradient(top, #ffffff 80%,#eaeaea 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */
}

/*table thead th.empty {
	width: 160px;
	border: 1px solid #d9d9d9;
}

table thead th.empty div{
	width: 160px;
	line-height: 35px;
	border: 1px solid #d9d9d9;
}*/

tbody th {
	font-weight: bold;
	position: relative;
	height: 37px;
	color: #585c5f;
	width: 181px;
}

tr.jqRowOdd{
	background-color: #fbfbfb;	
}

tr.jqRowEven{
	background-color: #ebf6ff;
}

tbody tr.jqRow:hover{
	background-color: #b2ffb7;
	font-weight: bold;
}

.jqScrollBar {
	overflow: hidden;
	line-height: 40px;

background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
}

.jqScrollBar div {
	float: left;
    -moz-user-select:none;
    -webkit-user-select:none;
    user-select:none;
    -ms-user-select:none;
    cursor: pointer;	
}

table {
	-moz-user-select:none;
    -webkit-user-select:none;
    user-select:none;
    -ms-user-select:none;
}

.jqScrollBar div.jqScrollButton{
	cursor: pointer;
	border: 1px solid #5a6b73;
	color: white;
	margin: 5px 10px 5px 10px;
	line-height: 25px;
	width: 25px;
	text-align: center;
	font-weight: bold;

background: #b8c6df; /* Old browsers */
background: -moz-linear-gradient(top, #b8c6df 0%, #6d88b7 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b8c6df), color-stop(100%,#6d88b7)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #b8c6df 0%,#6d88b7 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #b8c6df 0%,#6d88b7 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #b8c6df 0%,#6d88b7 100%); /* IE10+ */
background: linear-gradient(top, #b8c6df 0%,#6d88b7 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8c6df', endColorstr='#6d88b7',GradientType=0 ); /* IE6-9 */
	
  	-webkit-border-radius: 3px;
  	-moz-border-radius: 3px;
  	border-radius: 3px;
  	-moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
	
}

.jqScrollBar div.jqScrollButton:hover{
background: #b8c6df; /* Old browsers */
background: -moz-linear-gradient(top, #b8c6df 53%, #6d88b7 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(53%,#b8c6df), color-stop(100%,#6d88b7)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #b8c6df 53%,#6d88b7 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #b8c6df 53%,#6d88b7 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #b8c6df 53%,#6d88b7 100%); /* IE10+ */
background: linear-gradient(top, #b8c6df 53%,#6d88b7 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8c6df', endColorstr='#6d88b7',GradientType=0 ); /* IE6-9 */	
}

.jqScrollBar div.jqIndicator {
font-weight: bold;;
color: #555;
text-shadow: 0 1px 0 white;
margin: 0 10px 0 10px;	
}

tr.column-title-second th {
	padding-top: 4px;
	padding-bottom: 4px;
}

tbody .jqSecondLevel:nth-child(even){
	background-color: #fff9ea;
}

tbody .jqSecondLevel:nth-child(odd){
	background-color: #f4f4f4;
}

tbody .jqSecondLevel th.row-title{
	border-bottom: 1px solid #dadada;
}

tbody .jqSecondLevel th.row-title div{
	background-color: #fff9ea;
	/*border: 1px solid #dadada;*/
	border-left: 1px solid #dadada;
	margin-left: 20px;
	border-bottom: 1px solid #dadada;
}

tbody .jqSecondLevel:nth-child(even) th.row-title div{
	background-color: #fff9ea;
}

tbody .jqSecondLevel:nth-child(odd) th.row-title div{
	background-color: #f4f4f4;
}

table tbody tr.jqSecondLevel th.row-title{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	background-color: white;
	border-style: none;
}

tbody tr.jqSecondLevel th div {
	float:right;
	width: 160px;
	line-height: 37px;
	text-align: center;
	background-color: white;
	border-top-style: none;
	border-bottom-style:none;
}

tbody tr.jqRow th span.jqRowButton{
	float: left;
	width: 17px;
	line-height: 17px;
	text-align: center;
	cursor: pointer;
	font-size: 20px;
	/*margin-left: -35px;*/
	font-weight: bold;
	margin-top: 11px;
	margin-left: 16px;

  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;

 
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
	
}

tbody tr.jqRow th span.jqExpandButton {
		color: white;
	background: rgb(122,188,255); /* Old browsers */
background: -moz-linear-gradient(top, rgba(122,188,255,1) 0%, rgba(96,171,248,1) 44%, rgba(64,150,238,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(122,188,255,1)), color-stop(44%,rgba(96,171,248,1)), color-stop(100%,rgba(64,150,238,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* IE10+ */
background: linear-gradient(top, rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 ); /* IE6-9 */
}

tbody tr.jqRow th span.jqCollapseButton {
		color: white;
background: rgb(138,182,107); /* Old browsers */
background: -moz-linear-gradient(top, rgba(138,182,107,1) 31%, rgba(57,130,53,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(31%,rgba(138,182,107,1)), color-stop(100%,rgba(57,130,53,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(138,182,107,1) 31%,rgba(57,130,53,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(138,182,107,1) 31%,rgba(57,130,53,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(138,182,107,1) 31%,rgba(57,130,53,1) 100%); /* IE10+ */
background: linear-gradient(top, rgba(138,182,107,1) 31%,rgba(57,130,53,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ab66b', endColorstr='#398235',GradientType=0 ); /* IE6-9 */
}

.scroller {
	display: block;
	position: absolute;
	top: 0px;
	width: 13px;
	z-index: 25;
	cursor: auto;
	background-color: #848484;
  	opacity: 0.0; /* Chrome 4+, FF2+, Saf3.1+, Opera 9+, IE9, iOS 3.2+, Android 2.1+ */
  	filter: alpha(opacity=0); /* IE6-IE8 */
}
		
.tableVScroll{
	width: 14px;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	border: none;
	margin-right: 2px;
}

.overlay{
	background-color: white;
	position: absolute;
	left: 0;
	top: 0;
	z-index:100;
}

.unselect {
    -moz-user-select:none;
    -webkit-user-select:none;
    user-select:none;
    -ms-user-select:none;
    cursor: pointer;	
}