tr.level_1 td:first-child {
   position: relative;
   border-width: 0;
   background-color: transparent;
}

tr.level_1 td:first-child div{
   border: 1px solid #AFAFAF;
   width: 80%;
   height: 100%;
   line-height: 45px;
   left: 100px;
   float: right;
   border-top-width: 0;

   transform: translate(0,1px);
   -ms-transform: translate(0,1px); /* IE 9 */
   -webkit-transform: translate(0,1px); /* Safari and Chrome */
   -o-transform: translate(0,1px); /* Opera */
   -moz-transform: translate(0,1px); /* Firefox */
}

tr.level_1:nth-child(even) td:not(:first-child), tr.level_1:nth-child(even) td div{
    background-color: #F2FBFF;
    color: #304785;
    font-weight: bold;
}
tr.level_1:nth-child(odd) td:not(:first-child),  tr.level_1:nth-child(odd) td div{
    background-color: #DDEAFF;
    color: #304785;
    font-weight: bold;    
}

div.expand_button , div.collapse_button {
  float: left;
  width: 20px;
  height: 20px;
  line-height: 13px;
  font-size: 25px;
  text-align: center;
  margin-left: 10px;
  cursor: pointer;

  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;     
}

div.expand_button {
  background-color: #38A956;
  color: white;
}

div.collapse_button {
  background-color: #D47238;
  color: white;
}

div.expand_button:hover {
  color: #2C4C25;
}

